@import '../../Res/Styles/colors.scss';

.input_wrapper {
  position: relative;
}
.input {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: $main_dark;
  background: $main_grey;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  padding: 4px;
  outline: none;
  border: 2px solid $main_grey;
  transition: border-color .3s ease-out;
  &_error {
    border-color: $main_red;
  }
}
.error {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  color: $main_red;
}